<div class="sidebar">
  <div class="logo">
    <img src="/ailos-logo.jpg" alt="ailos-logo" class="img-logo"/>
  </div>
  <div class="menu-item menu-item-burger">
    <span class="material-symbols-outlined menu-logo-burger">menu</span>
  </div>
  <div class="menu-item">
    <span class="material-symbols-outlined menu-logo">search</span>
  </div>
  <div class="menu-item">
    <span class="material-symbols-outlined menu-logo">star</span>
  </div>
  <div class="menu-item">
    <span class="material-symbols-outlined menu-logo">sms</span>
  </div>
  <div class="menu-item">
    <span class="material-symbols-outlined menu-logo">tune</span>
  </div>
  <div class="menu-item">
    <span class="material-symbols-outlined menu-logo">account_balance</span>
  </div>
</div>
