<div class="stepper">
  <div class="step first-step current-step">
    <div class="step-simbol first-step"></div>
    <div class="step-line"></div>
    <div class="step-text">Inicio</div>
  </div>
  <div class="step next-step">
    <div class="step-simbol"></div>
    <div class="step-line"></div>
    <div class="step-text">Documentos</div>
  </div>
  <div class="step next-step">
    <div class="step-simbol"></div>
    <div class="step-line"></div>
    <div class="step-text">Dados Cadastrais</div>
  </div>
  <div class="step next-step last-step">
    <div class="step-simbol"></div>
    <div class="step-line"></div>
    <div class="step-text">Admissão</div>
  </div>
</div>
