.page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 100px;
}

.cpf-area {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.page-title-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 15px 0px;
}

.input-area {
  display: flex;
  flex-direction: row;
  margin: 15px 0px 15px 0px;
}

.input-wrapper {
  margin-right: 15px;
}

.cpf-button {
  margin-top: 18px;
}

.data-area {
  display: flex;
  flex-direction: row;
  margin: 0px 15px 0px 15px;
}

.card-data-row {
  display: flex;
  flex-direction: row;
  margin: 15px 0px 0px 0px;
}

.card-data {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.card-data-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ailos-grey-4);
}

.card-data-link {
  margin-top: 7px;
}