<div class="header">
  <div class="menu-section menu-section-left">
    <div class="page-title">
      NOME DA APLICAÇÃO
    </div>
    <div class="breadcrumb">
      breadcrumb / breadcrumb / breadcrumb
    </div>
  </div>
  <div class="menu-section bell-wrapper">
    <span class="material-symbols-outlined bell-icon">notifications</span>
  </div>
  <div class="menu-section">
    <button class="button-coop">VIACREDI</button>
  </div>
  <div class="menu-section profile-wrapper">
    <span class="material-symbols-outlined profile-icon">person</span>
  </div>
</div>